/* O muse, o alto ingegno, or m'aiutate;
 o mente che scrivesti ciò ch'io vidi,
  qui si parrà la tua nobilitate */

/* REGOLE DI RESET  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

/* HEADER  */

.flex__nav {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.nav {
    max-height: 80px;
    align-items: center;
    padding: 18px 15px;

    justify-content: space-between;


}

.logo {
    align-items: center;
}

.ul__nav {
    align-items: center;
}

#accedi {
    background-color: #0061FF;
    color: white;
    padding: 10px;
}


/* MAIN  */

.hero {
    background-color: #B4D0E7;
    padding-top: 85px;
}

.large-container {
    max-width: 1200px;
    margin: 0 auto;
}

.title__hero {
    font-size: 80px;
    font-weight: bolder;
}

.main__hero {
    display: flex;
    justify-content: space-between;

}

.text__hero {
    flex-basis: 35%;
    padding-top: 75px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.pulsante__hero {
    background-color: #0061FF;
    color: white;
    padding: 20px 15px;
    max-width: 230px;
    max-height: 50px;
}

.annulla__hero {
    position: relative;
    bottom: 15px;
}

.arrow__hero {
    font-size: 50px;
    padding-bottom: 25px;

}

.img__hero {
    flex-basis: 65%;
    position: relative;

    top: 75px;
}


/* SECTION  */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.titolo__canone,
.title__business-cards,
.title__teams {

    font-size: 40px;
    margin-top: 160px;
    margin-bottom: 75px;
}

#annuale {
    margin-left: 35px;
}

.canone {


    margin-bottom: 60px;

}

/* CARDS CSS  */

.row,
.row__teams {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.col4,
.col4__business-cards,
.col4__teams,
.col6__teams {

    /* flex-basis: calc(100% / 3); */
    border: 1px solid black;
    flex-grow: 1;
    flex-basis: 0;



}

.col12 {

    flex-basis: 100%;
    border: 1px solid black;
}

.header__cards {
    height: 45px;
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 45px;
    font-size: 14px;
}

.main__cards {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 35px;
    font-size: 14px;
}

.title__cards,
.title__page-center,
.col4-title__business-cards {
    font-size: 24px;
    padding-bottom: 30px;
}

.price__cards {
    font-size: 16px;
}

.duration {
    color: gray;
    padding-top: 20px;
    padding-bottom: 40px;
}


/* selettore no-price da rimuovere con un selettore
avanzato */
.no-price {
    padding-top: 14px;
}

.li__cards {
    padding-bottom: 30px;

}

.flex__li {
    display: flex;
    gap: 5px;
}

.botton__cards,
.botton__page-center {
    background-color: #0061FF;
    color: white;
    padding: 20px;
    max-width: 240px;
    text-align: center;
    height: 40px;
    line-height: 0px;
}

.link__cards {
    padding-top: 30px;
    padding-bottom: 40px;
}

.linea,
.linea__teams {
    border-bottom: 1px solid #E3E3E5;
    max-width: 45px;
}

.title__end {
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.fa-solid.fa-check {
    color: blue;
    line-height: 25px;
}

.horizontal__cards {
    display: flex;
    justify-content: space-between;
}

.horizontal__cards>.botton__cards {
    background-color: #0061FF;
    width: 233px;
}

.ul__cards>.horizontal__cards {
    max-width: 610px;
}

/* PAGE CENTER  */

.page-center {
    display: flex;
    gap: 50px;
    padding-top: 150px;
}

.img__page-center {
    flex-basis: 60%;
}

.text__page-center {
    flex-basis: 40%;
    padding-top: 50px;
    padding-right: 70px;
}

.botton__page-center {
    margin-top: 30px;
    border: 1px solid black;
    background-color: white;
    color: currentColor;
    max-width: 160px;
    padding: 20px 0 0 0;

}

/* BUSINESS CARDS  */

.business-cards {
    padding-top: 10px;
    /* con questo padding raggiungo i 170 px  */
}

.title__business-cards {
    margin-bottom: 70px;
}

.col4-title__business-cards {
    padding-bottom: 40px;
}

.col4__business-cards {
    border: none;
}

.padding-row {
    padding-top: 70px;
}


/* TEAM CSS  */

.title__teams {
    padding-right: 350px;
}

#link__teams {
    color: #2D2DF1;
}

.logo__teams {
    padding-top: 155px;
    max-width: 1920px;
    margin: 0 auto;

}

.row__teams {
    gap: 0;
}

.col4__teams,
.col6__teams {
    border: none;
}

.square {

    aspect-ratio: 1 / 1;
    padding: 50px;
    display: flex;

}







#designit {
    background-color: #A2D39B;
}

#arizona {
    background-color: #61082B;
}

#florida {
    background-color: #0093CE;
}

#topps {
    background-color: #FF1C1C;
}

#world-bicycle{
    background-color: #D5001F;
}
#hearst{
    background-color: #B4D0E7;
}

#lonely{
    background-color: #0D2481;
}

#clear{
    background-color: #FFD830;
}



.gray {
    background-color: #F5F5F5;

}

.square-main-logo__teams {
    padding: 50px;
}

.linea__teams{
    padding-top: 25px;
    max-width: 100px;
}

.text__teams{
    padding-top: 25px;
    padding-bottom: 25px;
}