/* O muse, o alto ingegno, or m'aiutate;
 o mente che scrivesti ciò ch'io vidi,
  qui si parrà la tua nobilitate */

/* REGOLE DI RESET  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

/* HEAD  */

.flex__nav {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.nav {
    max-height: 80px;
    align-items: center;
    padding: 18px 15px;

    justify-content: space-between;


}

.logo {
    align-items: center;
}

.ul__nav {
    align-items: center;
}

#accedi {
    background-color: #0061FF;
    color: white;
    padding: 10px;
}


/* MAIN  */

.hero {
    background-color: #B4D0E7;
    padding-top: 85px;
}

.largecontainer {
    max-width: 1200px;
    margin: 0 auto;
}

.title__hero {
    font-size: 80px;
    font-weight: bolder;
}

.main__hero {
    display: flex;
    justify-content: space-between;

}

.text__hero {
    flex-basis: 35%;
    padding-top: 75px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.pulsante__hero {
    background-color: #0061FF;
    color: white;
    padding: 20px;
    max-width: 230px;
}

.annulla__hero {
    position: relative;
    bottom: 40px;
}

.arrow__hero {
    font-size: 50px;
    padding-bottom: 25px;

}

.img__hero {
    flex-basis: 65%;
    position: relative;

    top: 75px;
}


/* SECTION  */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.titolo__canone {

    font-size: 40px;
    margin-top: 160px;
    margin-bottom: 75px;
}

#annuale{
    margin-left: 45px;
}